@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
    margin: 0 0;
    padding: 0 0;
}

:host {
    margin: 0 0;
    padding: 0 0;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
